#contato{
 padding: 4rem;
}
#contato h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
#contato form{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
#contato label {
  font-size: 1.2rem;
}
#contato input, #contato textarea{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.2rem;
}
#contato button {
  padding: 10px 20px;
  background-color: #172a45;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  margin-left: 1rem;
}
#contato button:hover{
  background-color: #1E90FF;
  transition: .3s;

}