#menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#04001D;
  position: fixed;
  top: 0;
  z-index: 200;
  box-sizing: border-box;
  padding: 1rem;
}

/*script desativado*/
.iconMenu img{
  display: none;
}
.listaMenu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: white;

}
.listaMenu li a {
  padding: 0.5rem;
}
.listaMenu li span{
  display: none;
}
.containerImg img{
  width: 60px;
}

/*script ativo mobile*/
.js .iconMenu img {
  display: block;
  filter: invert(81%) sepia(68%) saturate(492%) hue-rotate(127deg) brightness(105%) contrast(100%);
  width: 30px;
}
 .js .listaMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  right: -180px;
  top:80px;
  background-color: rgba(0, 0, 0, 0.5);
  transition:right 0.8s ease ;

}
.js .listaMenu li span{
  display: inline;
}
.js.listaMenu li{
  display: flex;
  align-items: center;
  gap: 1rem;

}
.js .listaMenu.activeMenu{
  right: 0;
}

@media (min-width:700px) {
  #menu{
    padding:0 2rem;

  }
  .listaMenu{
    flex-direction: row;
    font-size: 1rem;
  }
  .iconMenu{
    display: none;
  }
  /*scriptativo */
  .js .listaMenu{
    position: static;
    flex-direction: row;
    background-color: initial;

  }
  .js .listaMenu li span{
    display: none;

  }
  @media (min-width:1000px) {
    #menu{
     justify-content: space-around;
     padding: 1rem 0;
    }

  
}

  